@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

:root {
    --border-color: #838589;
    --highlight-color: {{ .Params.accent }};
}

* {
    font-family: parabolica, sans-serif;
}

code,
pre * {
    font-family: "IBM Plex Mono";
}

pre {
    padding: 15px;
}

@media (min-width: 600px) {
    body {
        margin: 0px 25%;
    }
}

@media (max-width: 600px) {
    body {
        margin: 0;
    }
}

main {
    flex: 1;
}

body {
    display: flex;
    flex-direction: column;

    border-color: var(--border-color);
    border-color: var(--border-color);
    border-style: solid;
    border-width: 0 1px;

    min-height: 100dvh;

    overflow: initial;
}

a,
a:hover,
a:active,
a:visited,
a:focus {
    display: inline-block;
    color: black;
    text-decoration: none;
}

a {
    transition: transform ease-in-out 300ms;
}

a:hover {
    transform: translate(3px, -3px);
}

a:not(.no-arrow)::after {
    content: "";
    display: inline-block;
    width: 0.8em;
    height: 0.8em;
    margin-left: 0.3em;

    background: url("/img/arrow-up-right.svg") no-repeat center / contain;
}

section {
    padding: 0px 20px;
}

main section:not(:last-child) {
    border-color: var(--border-color);
    border-style: solid;
    border-width: 0px 0px 1px 0px;
}

footer {
    border-color: var(--border-color);
    border-style: solid;
    border-width: 1px 0px 0px 0px;
}

footer p {
    padding: 5px 10px;
    margin: 0;
}

a.accent,
a.accent:visited,
a.accent:hover,
a.accent:active,
a.accent:focus, .accent {
    color: var(--highlight-color);
}

::selection {
    background-color: color-mix(in hsl, white 70%, var(--highlight-color));
}