#header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-color: var(--border-color);
    border-style: solid;
    border-width: 0px 0px 1px 0px;
}

#site-title {
    padding: 10px;
    margin: 0px;
}
