#header-container {
    display: flex;
    align-items: center;
    border-color: var(--border-color);
    border-style: solid;
    border-width: 0px 0px 1px 0px;
}

header {
    position: sticky;
    top: 0;
    background-color: white;
}

#site-title-container {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

#site-title {
    margin: 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-self: stretch;

    border-color: var(--border-color);
    border-style: solid;
    border-width: 0px 0px 0px 1px;
}

@media (max-width: 600px) {
    #header-container {
        justify-content: space-evenly;
    }

    .menu-item {
        padding: 0px 2px;
    }

    nav {
        padding: 0px 10px;
    }
}

@media (min-width: 600px) {
    #header-container {
        justify-content: space-between;
    }

    #site-title-container {
        margin-left: 10px;
    }

    .menu-item {
        padding: 0px 5px;
    }

    nav {
        padding: 0px 20px;
    }
}
